<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Socket IO Chat with Node!</title>
	<link rel="stylesheet" href="css/main.css">
	<script src="https://unpkg.com/vue"></script> 
	<script src="https://unpkg.com/vue-toasted"></script>
 
</head>
<body>
	<main id="app">		
		<div class="promo">
			<span class="heading"> HELLO ALL! 	Start your conversation as:</span>
			<input v-model="nickname" type="text" id="nickname" class="nickname" placeholder="What is your nickname?">
		</div>
		
		<section class="messages">
				<ul id="messages" v-for="message in messages">
					<!-- render message components here -->
					<newmessage :msg="message"></newmessage>					
				</ul>
		</section>	

		<section class="form-container">
			<!-- <input v-model="nickname" type="text" id="nickname" class="nickname" placeholder="What is your nickname?"> -->
			<!-- <label class="nickname" id="nickname">{{nickname}}</label> -->
			<form>
				<label> Online({{online}}) </label>
				<input v-model="message" class="message" type="text" autocomplete="off" @click="typing" placeholder="Type your message..." id="textarea">
				<input type="submit" value="send" @click.prevent="dispatchMessage">
			</form>
		</section>
		
		
	</main>
	<script src="/socket.io/socket.io.js"></script>
	<script type="module" src="js/main_vm.js"></script>
	<script>
		Vue.use(Toasted)
	</script>
</body>
</html>